<section class="main">
  <div>
      <h2>Hello, I'm Mohamed Ebrahim<br><span>Full Stack .Net Developer</span></h2>
      <a href="#projects" class="main-btn">View my work</a>
      <a href="./assets/Mohamed-Ebrahim-Abdelslam-Ali.pdf" class="Download-cv"
          download>Download CV</a>
      <div class="social-icons">
          <a href="https://www.linkedin.com/in/mohamed-abdelslam-2856a41b4/" target="_blank"><i
                  class="fab fa-linkedin"></i></a>
          <a href="https://github.com/Mohamedebrahimm210" target="_blank"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fa-brands fa-telegram"></i></a>
          <a href="https://www.facebook.com/mido.ebrahim.9699/" target="_blank"><i
                  class="fab fa-facebook"></i></a>
      </div>
  </div>
</section>
